/* The color variables, default is dark solarized */
:root {
  --background: #002b36;
  --background-highlight: #073642;
  --primary-text:  #839496;
  --secondary-text: #586e75;
  --emphasized-text: #93a1a1;
  --highlight: #b58900;
}
/* The basic website layout */
body {
  font-family: sans;
  font-size: 16px;
  background-color: var(--background);
  color: var(--primary-text);
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-columns: 1fr 200px;
  grid-gap: 1rem;
}

a {
  color: var(--highlight);
}

a:hover,
a:focus {
  background-color: var(--background-highlight);
}

/* The website head */
header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--background-highlight);
}

header h1 {
  flex: 1;
}

/* Navigation and Theme button go on the same line */
header div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header input {
  font-family: inherit;
  font-size: 100%;
  color: var(--highlight);
  border: 1px solid var(--highlight);
  border-radius: 5px;
  background-color: var(--background);
}

/* Button for Theme changeing */
header button {
  margin-left: 1rem;
  border: none;
  background: none;
  color: transparent;
  text-shadow: 0 0 0 var(--highlight);
}

header button:hover,
header button:active {
  text-shadow: 0 0 0 var(--background);
}

/* Menu for Theme changeing */
header div ul {
  list-style: none;
  position: fixed;
  background-color: var(--background-highlight);
  border: 1px solid var(--highlight);
  border-radius: 5px;
  padding: 5px;
}

header div ul li:hover,
header div ul li:focus,
header div ul li:active {
  background-color: var(--background);
  text-decoration: underline;
}


/* The main area all entries will be added inside this container */
main {
  grid-area: main;
  padding: 1rem;
}

/* indicates a new year */
main h2 {
  padding: 1rem 1ch;
  border-bottom: 2px solid var(--secondary-text);
  border-top: 2px solid var(--secondary-text);
  width: 25%;
}

/* the entry */
main article {
  /*background-color: #333;
  border-radius: 1rem;*/
  padding: 1rem;
  margin-bottom: 1rem;
}

main article div.entry-head {
  display: flex;
  flex-wrap: wrap;
}

main article h3 {
  flex: 1;
}

main article span.entry-date {
  font-style: italic;
  color: var(--secondary-text);
}

/* Images in the article */
main article img {
  max-width: 100%;
  height: auto;
}

main article figcaption {
  font-size: 0.75rem;
  font-style: italic;
}

main article ul:last-child::before {
  content: "Tags:";
  margin-right: 1ch;
}
main article ul:last-child {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
main article ul:last-child li {
  margin-right: 1ch;
}

/* display options for the entry */
.hidden {
  display: none;
}

/* navigation menu based on year and month */
aside {
  grid-area: aside;
}

aside ul {
  list-style: none;
}

aside > ul {
  padding: 0;
}

/* style the footer */
footer {
  grid-area: footer;
  background-color: var(--background-highlight);
  padding: 0;
  padding-left: 1rem;
}

/* links get normal background color on hover, the background of footer is highlighted */
footer a:hover,
footer a:focus,
footer a:active {
  background-color: var(--background);
}
